# Xen User Domain (DomU) - Infotainment

name    = "DomU"

kernel  = "/boot/Image-domu"
extra   = "root=/dev/xvda rw console=hvc0"

memory  = 2048
vcpus   = 4

vif     = ['bridge=xenbr0']

disk    = ['phy:/dev/nvme0n1p3,xvda,w']

device_model_stubdomain_override = 1